* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}


.navbar {
    padding: 10px 30px;
    /* background-color: #F18F01; */
    background: linear-gradient(90deg, #F18F01 1.18%, #A626D3 100%);
    box-shadow: rgb(0 0 0 / 8%) 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--left {
    display: flex;
    align-items: center;
}

.beat-logo {
    width: 60px;
    height: 40px;
}

.header--title {
    margin-left: 20px;
    font-size: 45px;
    color: white;
}

.header--project {
    font-size: 20px;
}

.music--container {
    width: 80%;
    margin: auto;
}

.music-dark {
    color: white;
}

.music-card {
    margin: 20px 40px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05);
    display: flex;
    border-radius: 10px;
}

.song-info {
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.album-cover {
    width: 200px;
}

.song--title {
    font-size: 20px;
}

/* toggler */
.dark {
    background-color: #21222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

/* Music Button */
.music--button {
    position: absolute;
    bottom: 10;
    right: 0;
    border: 1px solid red;
}

/* navlinks */
.nav--links {
    margin-left: 40px;
}

.nav--links * {
    margin: 20px;
}